@import "code.css";
@import "gh-markdown.css";

body {
    background-color: white;
    margin: 0px auto 0px auto;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.4;
    word-wrap: break-word;
}

.row {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.column {
    display: table-cell;
}

header {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    padding: 10px 1em 5px 1em;
    background: #f6f8fa;
    z-index: 1000;
}

div.logo a {
    text-decoration: none;
    margin-left: auto;
    color: #222222;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.45;
}

header nav {
    text-align: left;
}

header nav a {
    color: #BBBBBB;
    font-size: 16px;    
    text-decoration: none;
    text-transform: capitalize;
}

header nav a:hover{
    color: #000000;
}

main {
    margin-top: 9em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 52em;
}

footer {
    border-top: 2px solid rgba(153,153,204,0.29);
    color: #999999;
    font-size: 16px;
    text-align: left;
    height: 3em;
    position: fixed;
    bottom: 0;
    overflow: auto;
    padding-top: 1em;
    padding-left: 1em;
    background: #f6f8fa;
    left: 0;
    width: 100%;
}

footer a {
    color: #428bca;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

section.header {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
